# untrack useless visual studio configures
*.vcxproj.filters
*.vcxproj.user
# untrack useless visual studio folders
*x64/
*.vs/
debug/
# untrack vs code configure folder
*.vscode/
# untrack build folder for building shared libraries
build/
# untrack object files during compiling 
*.o
# untrack log files
**log*
.DS_Store