# untrack useless visual studio configures
*.vcxproj.filters
*.vcxproj.user
# untrack useless visual studio folders
*x64/
*.vs/
# untrack vs code configure folder
*.vscode/
# untrack object files during compiling 
*.o
# untrack output files in test folder
test/link_performance.csv
test/agent.csv
test/solution.csv
# untrack output files in DTALite_DLL_test folder
DTALite_DLL_test/link_performance.csv
DTALite_DLL_test/agent.csv
DTALite_DLL_test/solution.csv
DTALite_DLL_test/log.txt
# untrack build folder for building shared libraries
build/